vendor/
node_modules/
.git/
.github/
.gitignore
.editorconfig
.gitattributes
docker-compose.yml
.dockerignore
*.md
tests/
.phpunit.result.cache
.php-cs-fixer.cache
.idea/
.vscode/
*.swp
*.swo
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
database/database.sqlite
.env
.env.backup
.env.production
